# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\CIS Cources\Java\Spring & Hibernate for Beginners (includes Spring Boot)\33. Build a Database Web App - Spring MVC and Hibernate Project - Part 6\spring-hibernate-customer-tracker-with-maven-all-java-config\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
